# Execute infinite times: time(2)  -  is for executing after 2 seconds slowly!

In [1]:

a=10
import time
while a>=0:
    print(a)
    time.sleep(2)
    a=a-1

10
9
8
7
6
5
4
3
2
1
0

# To stop the program at certain interval : we use break!

In [2]:

a=10
import time
while a>=0:
    print(a)
    time.sleep(2)
    break
    a=a-1

10

# to stop correctly at 5 and break! We should use CONTINUE!

In [1]:

a=10
import time
while a>=0:
    
    if a>=5:
        print(a)
        a=a-1
        continue 
    break
    
    time.sleep(2)

10
9
8
7
6
5

# isdigit() and isnumeric() is sameeeeee!!!!!!!

In [1]:
while True:
    a=input("Enter no 1: ")
    b=input("Enter no 2: ")
    c=input("Enter no 3: ")
    d=input("Enter the operation eg: + - * /")
    if a.isdigit() and b.isdigit() and c.isdigit():
        a=int(a)
        b=int(b)
        c=int(c)
        if(d=='+'):
            sum=a+b+c
            print("Sum:",sum)
        elif(d=='-'):
            sub=a-b-c
            print("Sub:",sub)
        elif(d=='*'):
            multi=a*b*c
            print("Multi:",multi)
        else:
            if(a==0):
                print("Div Not possible!")
            else:
                div=(a/b)/c
    else:
        print("Operation not possible due to character!") 
        
    ch=input("Do u wanna continue!!! yes/no")
    if ch=='yes'or ch=='Yes' or ch=='YES':
        continue
    elif ch=='no' or ch=='No' or ch=='NO':
        break
    else:
        print("Please enter valid output!!!!!!!!!!!!!!")

Enter no 1: 5
Enter no 2: 4
Enter no 3: 7
Enter the operation eg: + - * /+
Sum: 16
Do u wanna continue!!! yes/noyes
Enter no 1: 4
Enter no 2: 89
Enter no 3: 565
Enter the operation eg: + - * /*
Multi: 201140
Do u wanna continue!!! yes/nono

In [2]:
a=int(input("Enter the no to check"))
if a%2==0:
    print("even!")
else:
    print("odd!")

Enter the no to check7
odd!

# For loop
# for i in range(1,10,2)
# print(i)

In [4]:
import time
for i in range(1,10,2):
    print(i)
    time.sleep(i)

1
3
5
7
9

# in for loop the 1st and 2nd will be limits and last  limit will be step the values which means the values will be skipped 
# if 1 means skip one(1,2,3,4,5), 2 means skip 2 values(1,3,5), 3 means skip 3 values(1,3)

In [13]:
for i in range(1,5,1):
     print("Hello")

Hello
Hello
Hello
Hello

In [ ]:
# *****
# *****
# *****
# *****
# *****
# *****

# print() - directly goes to next lineeeeeeeee!!
# end=" " - follows the cursor to go in the same lineeee no next linee!

In [14]:
import time
a=int(input("Enter the no of rows"))
for i in range(1,a+1): 
    for j in range(1,a+1):
            print('*',end=" ")
            time.sleep(1)
    print()

Enter the no of rows4
* * * *
* * * *
* * * *
* * * *

In [ ]:
# to write the program in lines!
# 1 1 1 1 1 
# 2 2 2 2 2 
# 3 3 3 3 3
# 4 4 4 4 4
# 5 5 5 5 5
              #.....n

In [16]:
import time
a=int(input("Enter the no of rows:"))
for i in range(1,a+1): 
    for j in range(1,a+1):
            print(i,end=" ")
            time.sleep(1)
    print()

Enter the no of rows:5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
# ord() - displays the ASCII values of the letters
# chr(n) -  displayes the number to ASCII

In [12]:
ord(o)
chr(77)

NameError: name 'o' is not defined

In [3]:
import time
a=int(input("Enter the no of rows:"))
for i in range(1,a+1): 
    for j in range(1,a+1):
            print(chr(64+i),end=" ")
            time.sleep(1)
    print()

Enter the no of rows:6
A A A A A A
B B B B B B
C C C C C C
D D D D D D
E E E E E E
F F F F F F

In [8]:
import time
a=int(input("Enter the no of rows:"))
for i in range(1,a+1): 
    for j in range(1,i):
            print('*',end=" ")
            time.sleep(1)
    print()

Enter the no of rows:9

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [11]:
import time
a=int(input("Enter the no of rows:"))
for i in range(5,i-1): 
    for j in range(1,i):
            print('*',end=" ")
            time.sleep(1)
    print()

Enter the no of rows:8

# USER _ DEF FUNCTION

In [15]:
def welcome():
    print("Good morning!")
    print("Welcome to py workshop!")
    
welcome()

Good morning!
Welcome to py workshop!

In [16]:
welcome()

Good morning!
Welcome to py workshop!

# to call the function we must write the function name!!

In [17]:
def welcome(name):
    print("Hi!" , name, "Good morning!")
    print("Welcome to py workshop!")
    
welcome("Harish")

Hi! Harish Good morning!
Welcome to py workshop!

In [19]:
def welcome(name):
    print("Hi!" , name, "Good morning!")
    print("Welcome to py workshop!")
    
welcome(input("Type your name : "))

Type your name: chethana
Hi! chethana Good morning!
Welcome to py workshop!

In [25]:
def calci(n1,n2):
    sum=n1+n2
    sub=n1-n2
    print ("Addition: ", sum)
    print ("Subtraction: ", sub)
    
a=int(input("Enter n1: "))
b=int(input("Enter n2: "))
calci(a,b)

Enter n1: 9
Enter n2: 4
Addition:  13
Subtraction:  5

In [34]:
def calci(x,y):
    sum=x+y
    sub=x-y
    multi=x*y
    div=x-y
    
    return sum,sub,multi,div

a=int(input("Enter n1: "))
b=int(input("Enter n2: "))
a,b,c,d=calci(a,b)
print("Sum: ", a)
print("Sub: ", b)
print("Multi: ",c)
print("Div: ",d)

Enter n1: 7
Enter n2: 4
Sum:  11
Sub:  3
Multi:  28
Div:  3

# MATH FN'S IN BUILT

In [37]:
import math
dir (math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [38]:
math.pow(3,4)

81.0

In [39]:
math.pi

3.141592653589793

In [41]:
math.factorial(5)

120

In [46]:
math.lcm(8,8878695)

71029560

In [49]:
import calendar 
year=int(input("Enter the year!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  : "))
month= int(input("Enter the month!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :"))
print(calendar.month(year,month))
print(calendar.calendar(year))

Enter the year!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  : 2025
Enter the month!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :4
     April 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [51]:
import datetime
print(datetime.datetime.now())

2025-10-14 11:43:55.564652

In [56]:
import random
for i in range(6):
        print(random.randint(0,66))

65
43
58
32
43
21

In [57]:
import calci

ModuleNotFoundError: No module named 'calci'

# COPY THE CODE TO NOTEPAD AND THEN NAME IT AS .PY, WE WILL GET, THE PACKAGE IN THE SOFTWARE, THEN IT'LL BE INCLUDED IN ALL THE 
# PROGRAM

In [60]:
def add(a,b):
    print("sum",a+b)
def sub(a,b):
    print("sub",a-b)
def mutli(a,b):
    print("multi",a*b)
def sub(a,b):
    print("div",a/b)

# LIST-MUTABLE

In [61]:
i=[2,3,4,"kt",2,2,3,4,56,7]
print(type(1))
print(1)
print(len(i))

<class 'int'>
1
10

In [62]:
i

[2, 3, 4, 'kt', 2, 2, 3, 4, 56, 7]

In [63]:
i[0:4]

[2, 3, 4, 'kt']

In [64]:
i.count(2) # counts the amount of numbers inside the set!

3

In [66]:
i.index(4)
i.index(56)

8

In [67]:
i.append("Name") # add new element into set at end

In [68]:
i

[2, 3, 4, 'kt', 2, 2, 3, 4, 56, 7, 'Name']

In [5]:
i=[2,3,4,"kt",2,2,3,4,56,7]
i.insert(1,"Back")

In [3]:
i

100

In [10]:
n=[]
m=[]
for a in range(1,101):
    if a%2==0:
        n.append(a)
    else:
        m.append(a)

In [5]:
n

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [6]:
m

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [11]:
i=[2,3,4,"kt",2,2,3,4,56,7]

In [12]:
i.pop()

7

In [13]:
i

[2, 3, 4, 'kt', 2, 2, 3, 4, 56]

In [17]:
i=[2,3,4,"kt",2,2,3,4,56,7]
i.remove(2)

In [18]:
i

[3, 4, 'kt', 2, 2, 3, 4, 56, 7]

# tuple

In [2]:
a=(2,3,4,56,7)
print(type(a))
print(a)

<class 'tuple'>
(2, 3, 4, 56, 7)

# DICT

In [9]:
d={100:"ABC",101:"DEF"}
print(type(d))
print(d)

<class 'dict'>
{100: 'ABC', 101: 'DEF'}

In [10]:
100

100

In [11]:
d

{100: 'ABC', 101: 'DEF'}

In [12]:
d[103]="GHI"

In [13]:
d

{100: 'ABC', 101: 'DEF', 103: 'GHI'}