In [1]:
print("Hello World")

Hello World

# Basics of python

In [2]:
print("Welcome to workshop!")

Welcome to workshop!

In [4]:
q = 20
w = 6554.858
print("Q value",q)

Q value 20

# String Data Type

In [2]:
s="hello"
print(s)
print(type(s))
print(id(s))

hello
<class 'str'>
1735886584176

# id() is used display the index of the data's

In [17]:
s[0:5]

'hello'

In [9]:
s[0:4]

'hell'

In [20]:
s[-1:-5:-1]

'olle'

# if we want to print in reverse mode, then first size should be the value,  2nd size last value, 3rd size should be the number of times the value is skipped.

# FUNCTION

In [23]:
print(s.upper())
print(s.lower())
print(s.title())

HELLO
hello
Hello

# The title function, is used to display the first letter in caps of all the words!

In [25]:
a="Chethana"
b="G"
print(a+' '+b)

Chethana G

# Concatination is applicable only for same data types not other data types!

In [26]:
bool(1)

True

In [27]:
bool(0)

False

In [32]:
True+False+False+True+bool(2)

3

# bool(integer/number) - True - 1
# bool(0) -  False - 0

# complex data type c=8+6j

In [41]:
c=2.8+6j
print(c)
print(type(c))

(2.8+6j)
<class 'complex'>

In [42]:
c.imag+c.real

8.8

In [43]:
c.imag

6.0

In [44]:
c.real

2.8

# TYPECASTING

In [51]:
a=88
b=str(a)
print(type(b))
print(b)
print(type(a))

<class 'str'>
88
<class 'int'>

In [52]:
a=22
b=float(a)
print(type(b))
print(b)

<class 'float'>
22.0

# String to integer we cannot convert! Since no ASCII

In [58]:
a="5"
b="hello"
c=a+" "+b
print(c)

5 hello

# default input is string so, type cast with the data type 
# sep=" " - it is used to put any character in between all printing statements

In [66]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
c=a+b
d=a-b
print("add",c, "sub",d, sep=" ")

Enter the value of a 888
Enter the value of b 66
add 954 sub 822

In [68]:
print("add", c, "sub", d, sep=" - ")

add - 954 - sub - 822

In [70]:
print("add", c, "sub", d, sep="\n")

add
954
sub
822

In [74]:
multi = a*b
print("Multi: ", multi, sep="\t")

Multi: 	58608

In [87]:
first=input("Enter your name:")
last=input("Enter last name:")
num=int(input("Enter your fav no:"))+5
name=first+last
z=str(num)
print(name+z+"@gmail.com")

Enter your name:chethaana
Enter last name:g
Enter your fav no:27
chethaanag32@gmail.com

# Swaping of 2 no's without using 3rd variable

In [12]:
a=int(input("Enter first no:"))
b=int(input("Enter second no:"))
a=a-b
b=a+b
a=b-a
print("Value of a", a)
print("Value of b", b)

Enter first no:69
Enter second no:96
Value of a 96
Value of b 69

In [13]:
3//2

1

# // - remove the decimal part in divison of number

In [14]:
2**3

8

# 2^3 = 8

# RELATIONAL OP

In [21]:
a=90
b=20
print("A >= B:", a>=b)
print("A >= B:", b>=a)
print("A <= B:", a<=b)
print("A > B:", a>b)
print("A < B:", a<b)
print("A < B:", b<a)

A >= B: True
A >= B: False
A <= B: False
A > B: True
A < B: False
A < B: True

# LOGICAL OP

In [27]:
a=10
b=30
#logical AND
a>1 and b<20

False

In [28]:
#logical NOT
not a<30

False

In [29]:
#logical OR
a>=10 or b>90

True

In [ ]:
#BITWISE OP
# & | ^ ~ ------------- ~ isnt there!!!!
a=2
b=3
print(a & b)
print(a | b)
print(a ^ b)

# RIGHT SHIFT >> AND LEFT SHIFT <<  - IN BINARRY (SHIFT BY GIVEN VALUE, AND THE LAST FOUR IT GETS CONVERTED)

In [36]:
a=2
a<<2

8

In [43]:
b=5
b>>1

2

# SPECIAL OP

In [ ]:
###
is and is not are the op ------> IDENTITY OP for checking the values and addresss!!!
in and not in  -----------> MEMBERSHIP for checking the values inside the stored data

In [56]:
a=8
b=8
a is b

True

In [57]:
id(a) is not id(b)

True

In [58]:
id(a)

1971623520784

In [59]:
id(b)

1971623520784

In [60]:
id(a) is id(b)
print(id(a))
print(id(b))

1971623520784
1971623520784

### MEMBERSHIP

In [62]:
a=[5,8,9,2,4,5,66,5,]
66 in a

True

In [65]:
45 not in a

True

# CALCI APP

In [4]:
a=int(input("Enter no 1: "))
b=int(input("Enter no 2: "))
c=int(input("Enter no 3: "))
d=input("Enter the operation eg: + - * /")
if (d=='+'):
    sum=a+b+c
    print("ADDITION: ", sum)
elif (d=='-'):
    sub=a-b-c
    print("SUB: ", sub)
elif(d=='*'):
    multi=a*b*c
    print("MULTI: ", multi)
else:
    if(a==0):
        print("Not possible")
    else:
        div=(a/b)/c
        print("DIV:", div)

Enter no 1: 8
Enter no 2: 9
Enter no 3: 4
Enter the operation eg: + - * /-
SUB:  -5

### BIGGEST OF 3 No's

In [13]:
a=int(input("Enter no 1: "))
b=int(input("Enter no 2: "))
c=int(input("Enter no 3: "))
if a>b:
    if a>c:
        print("A great")
    else:
        print("C is great")
else:
    if b>c:
        print("B is great")
    else:
        print("C is great")

Enter no 1: 1
Enter no 2: 30
Enter no 3: 5
B is great

### isdigit() - is used to check the number s digit or not!
### isnumeric() - it checks the string is numeric or not!

In [33]:
a=input("Enter no 1: ")
b=input("Enter no 2: ")
c=input("Enter no 3: ")
d=input("Enter the operation eg: + - * /")
if(a.isdigit() and b.isdigit() and c.isdigit()):
    if (d=='+'):
        sum=int(a)+int(b)+int(c)
        print("ADDITION: ", sum)
    elif (d=='-'):
        sub=int(a)-int(b)-int(c)
        print("SUB: ", sub)
    elif(d=='*'):
        multi=int(a)*int(b)*int(c)
        print("MULTI: ", multi)
    else:
        if(a==0):
            print("Not possible")
        else:
            div=int(a)/int(b)/int(cdg c)
            print("DIV:", div)
else:
    print("Not possible")

Enter no 1: 8
Enter no 2: 5
Enter no 3: 7
Enter the operation eg: + - * /+
Not possible

# TO CHECK STRINGG IS THERE

In [1]:
a=input("Enter no 1: ")
b=input("Enter no 2: ")
c=input("Enter no 3: ")
d=input("Enter the operation eg: + - * /")

if a.isdigit() and b.isdigit() and c.isdigit():
    a=int(a)
    b=int(b)
    c=int(c)
    if(d=='+'):
        sum=a+b+c
        print("Sum:",sum)
    elif(d=='-'):
        sub=a-b-c
        print("Sub:",sub)
    elif(d=='*'):
        multi=a*b*c
        print("Multi:",multi)
    else:
        if(a==0):
            print("Div Not possible!")
        else:
            div=(a/b)/c
else:
    print("Operation not possible due to character!")

Enter no 1: 1
Enter no 2: 2
Enter no 3: 3
Enter the operation eg: + - * /+
Sum: 6