In [1]:
print("Hello World")

Hello World

# Basics of python

In [2]:
print("Welcome to workshop!")

Welcome to workshop!

In [4]:
q = 20
w = 6554.858
print("Q value",q)

Q value 20

# String Data Type

In [2]:
s="hello"
print(s)
print(type(s))
print(id(s))

hello
<class 'str'>
1735886584176

# id() is used display the index of the data's

In [17]:
s[0:5]

'hello'

In [9]:
s[0:4]

'hell'

In [20]:
s[-1:-5:-1]

'olle'

# if we want to print in reverse mode, then first size should be the value,  2nd size last value, 3rd size should be the number of times the value is skipped.

# FUNCTION

In [23]:
print(s.upper())
print(s.lower())
print(s.title())

HELLO
hello
Hello

# The title function, is used to display the first letter in caps of all the words!

In [25]:
a="Chethana"
b="G"
print(a+' '+b)

Chethana G

# Concatination is applicable only for same data types not other data types!

In [26]:
bool(1)

True

In [27]:
bool(0)

False

In [32]:
True+False+False+True+bool(2)

3

# bool(integer/number) - True - 1
# bool(0) -  False - 0

# complex data type c=8+6j

In [41]:
c=2.8+6j
print(c)
print(type(c))

(2.8+6j)
<class 'complex'>

In [42]:
c.imag+c.real

8.8

In [43]:
c.imag

6.0

In [44]:
c.real

2.8

# TYPECASTING

In [51]:
a=88
b=str(a)
print(type(b))
print(b)
print(type(a))

<class 'str'>
88
<class 'int'>

In [52]:
a=22
b=float(a)
print(type(b))
print(b)

<class 'float'>
22.0

# String to integer we cannot convert Since no ASCII

In [58]:
a="5"
b="hello"
c=a+" "+b
print(c)

5 hello

# default input is string so, so type cast with the data type 
# sep=" " - it is used to put any character in between all printing statements

In [66]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
c=a+b
d=a-b
print("add",c, "sub",d, sep=" ")

Enter the value of a 888
Enter the value of b 66
add 954 sub 822

In [68]:
print("add", c, "sub", d, sep=" - ")

add - 954 - sub - 822

In [70]:
print("add", c, "sub", d, sep="\n")

add
954
sub
822

In [74]:
multi = a*b
print("Multi: ", multi, sep="\t")

Multi: 	58608

In [87]:
first=input("Enter your name:")
last=input("Enter last name:")
num=int(input("Enter your fav no:"))+5
name=first+last
z=str(num)
print(name+z+"@gmail.com")

Enter your name:chethaana
Enter last name:g
Enter your fav no:27
chethaanag32@gmail.com